/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 공통 스크롤 스타일 */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

/* 기본 레이아웃 스타일 */
body {
  @apply bg-[#FAFBFC];
}

/* 카드 기본 스타일 */
.card {
  @apply bg-white rounded-xl shadow p-4;
}